* {
    box-sizing: border-box;
    margin: 0px;
    font-family: "Arial";
}

header {
    background-color: #3B5998;
    height: 150px;
}

h1 {
    text-align: left;
    padding-top: 60px;
    padding-left: 200px;
	color:white;
}

h2 {
	color:grey;
}
h3 {
	color:white;
}

h4 {
	color:white;
}


#icon {
	padding-top: 60px;
    padding-left: 200px;
}
#logo {
	float:top;
	height:10%;
	background-color:blue;
	color:white;
	padding-bottom:10px;
}

#forminfo {
	font-weight:bold;
}

 #friends{
	font-size:20px;
	color:orange;
	height:auto;
	
 }
 


.pagewrap {
    opacity:0.8;
	position:fixed;
	width:100%;
	top: 0;
    bottom:0;
    left:0px;
   overflow-y:scroll;
}
/* Create two unequal columns that floats next to each other */
.column {
    padding-top: 30px;
}

.row {
    display: flex;
}

.register {
    width: 25%;
    padding-top: 30px;
}

.left {
    float: left;
    padding-left: 200px;
    text-align: left;
    width: 50%;
}

.right {
    padding-left: 30px;
    float: right;
  width: 50%;

}

.right img {
	height:90px;
	width:300px;
}

.loginbutton {
    font-size: 14pt;
    background-color: #6ec972;
    color: white;
}

.registerbutton {
    font-size: 14pt;
    background-color: #6ec972;
    color: white;
}

.signupbutton {
    margin: 20px;
    font-size: 20pt;
    background-color: #6ec972;
    color: white;

}

.editbutton {
    margin: 20px;
    font-size: 20pt;
    background-color: #6ec972;
    color: white;
}